@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 207 21% 100%;
    --foreground: 207 5% 10%;
    --card: 207 21% 100%;
    --card-foreground: 207 5% 15%;
    --popover: 207 21% 100%;
    --popover-foreground: 207 95% 10%;
    --primary: 207 100% 88.2%;
    --primary-foreground: 0 0% 0%;
    --secondary: 207 21% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 169 21% 95%;
    --muted-foreground: 207 5% 40%;
    --accent: 169 21% 90%;
    --accent-foreground: 207 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 207 5% 100%;
    --border: 207 21% 82%;
    --input: 207 21% 50%;
    --ring: 207 100% 88.2%;
    --radius: 1rem;
}
.dark {
    --background: 207 21% 10%;
    --foreground: 207 5% 100%;
    --card: 207 21% 10%;
    --card-foreground: 207 5% 100%;
    --popover: 207 21% 5%;
    --popover-foreground: 207 5% 100%;
    --primary: 207 100% 88.2%;
    --primary-foreground: 0 0% 0%;
    --secondary: 207 21% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 169 21% 25%;
    --muted-foreground: 207 5% 65%;
    --accent: 169 21% 25%;
    --accent-foreground: 207 5% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 207 5% 100%;
    --border: 207 21% 50%;
    --input: 207 21% 50%;
    --ring: 207 100% 88.2%;
    --radius: 1rem;
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        font-feature-settings:
            'rlig' 1,
            'calt' 1;
    }
}
